{%extends 'Administrator/adm_base.html'%}{% load static %} {% block body %}

<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Add new project</h4>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="card">

    <div class="card-body ">

        <hr/>
        <form action={% url 'addnewprojectdb' %} method="post" class="needs-validation" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-end">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %}" alt="loading" width="16">
                    <span class="font-medium">Project Name:</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <input type="text" class="inp form-control" name="projectname" placeholder="Enter Project Name">
                </div>


                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16">
                    <span class="font-medium">Price:</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <input type="text " class="inp form-control " name="price " placeholder="Enter Project cost ">
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <label class="font-medium lab">Enter short description:</label>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <textarea class="form-control inp " rows="5 " name="shortdescription " id="shortdescription "></textarea>
                </div>
                <br><br><br>

                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <span class="font-medium ">Select platform:</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <select class="form-select inp form-control" name="selectplatform " aria-label="Default select example ">
                       <option selected>Select platform</option>
                            {% for i in platformname %}
                                <option value="{{ i.platformname }} ">{{ i.platformname }}</option>
                                 {% endfor %}
                   </select></td>
                </div>

                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <span class="font-medium ">upload thumbnail:</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <input type="file" class="inp form-control" name="uploadthumbnail " placeholder="Enter short description: ">
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <span class="font-medium ">Language used:</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <input type="text " class="inp form-control" name="languageused " placeholder="Enter Language used ">
                </div>

                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <span class="font-medium ">Database:</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <input type="text " class="inp form-control" name="database " placeholder="Enter Database ">
                </div>

                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <span class="font-medium ">Softwares:</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <input type="text " class="inp form-control" name="softwares " placeholder="Enter softwares">
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <span class="font-medium ">User Interfaces:</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <input type="text " class="inp form-control" name="userinterface " placeholder="Enter user interface">
                </div>
                <br>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <span class="font-medium ">Project abstract:</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <textarea class="form-control inp " rows="5 " name="projectabstract " id="shortdescription "> </textarea>
                </div>
                <br><br><br>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <span class="font-medium ">Module details:</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <textarea class="form-control inp " rows="5 " name="moduledetails " id="shortdescription "> </textarea>
                </div>
                <br><br><br>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <span class="font-medium ">Upload Video:</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <input type="file" class="inp form-control" name="uploadvideo " accept="video/* ">
                </div>

                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <label class="font-medium lab">Upload Screenshots:</label>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <input type="file" class="inp form-control mb-2 " name="uploadscreenshots ">
                    <input type="file" class="inp form-control mb-2 " name="uploadscreenshots1 ">
                    <input type="file" class="inp form-control mb-2 " name="uploadscreenshots2 ">
                    <input type="file" class="inp form-control mb-2 " name="uploadscreenshots3 ">
                </div>
                <br><br><br><br>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <span class="font-medium ">Upload Pdf:</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <input type="file" class="inp form-control" name="uploadpdf ">
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <center><button type="submit" class="btn btn-outline-primary btn-fw">Add project</button></center>
                </div>
            </div>
        </form>
    </div>
</div>

{%endblock%}