{%extends 'Administrator/adm_base.html'%}{% load static %} {% block body %}

<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Mock exam questions</h4>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="card">

    <div class="card-body ">

        <hr />
        <form action="{% url 'savemockq' %}" method="post" class="needs-validation" novalidate
            enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-end">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %}" alt="loading" width="16">
                    <span class="font-medium">Select platform:</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <select class="form-select inp form-control" name="selectplatform"
                        aria-label="Default select example ">
                        <option selected>Select platform</option>
                        {% for i in platformname %}
                        <option value="{{ i.platformname }} ">{{ i.platformname }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <span class="font-medium ">Select platform:</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <select class="form-select inp form-control" name="selectplatform "
                        aria-label="Default select example ">
                        <option selected>Select platform</option>
                        {% for i in plat %}
                        <option value="{{ i.platformname }}">{{ i.platformname }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <span class="font-medium ">Question 1:</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <input type="file" class="inp form-control" name="qu1 " placeholder="Enter short description: ">
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <span class="font-medium ">Answer choice 1</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <input type="text" class="inp form-control" name="choice1 " placeholder="Enter short description: ">
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <span class="font-medium ">Answer choice 2</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <input type="text" class="inp form-control" name="choice2" placeholder="Enter short description: ">
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <span class="font-medium ">Answer choice 3</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <input type="text" class="inp form-control" name="choice3" placeholder="Enter short description: ">
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <img src="{% static 'plugins/images/Icon-awesome-circle-notch.png' %} " alt="loading " width="16 ">
                    <span class="font-medium ">Answer choice 4</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 grid-margin justify-content-center">
                    <input type="text" class="inp form-control" name="choice4" placeholder="Enter short description: ">
                </div>
                <div class="col-12 col-sm-12 col-md-12 grid-margin">
                    <button type="submit" class="btn btn-primary me-2 w-10">Submit</button>
                    <button class="btn btn-light w-10" type="reset">Cancel</button>

                </div>
            </div>
        </form>
    </div>
    <div class="row">
        {% for x in plat %}
        <center>
            <h2 style="margin-left: 10px;">{{ x.platformname }} Questions and Answers.</h2>
        </center>
        <!-- Column -->{% for i in s %}
        {% if i.platform_name == x.platformname %}
        <div class="col-lg-10 col-xlg-3 col-md-12">

            <div class="white-box"
                style="background: #FFFFFF; width: 100%;border-radius: 2rem; margin-left: 5%;box-shadow: rgb(23 24 25 / 45%) 0px 3px 3px">
                <a href="{% url 'deleteq' i.id %}">
                    <img src="{% static 'plugins/images/Icon-material-delete.png' %}" alt="Platforms" width="16px"
                        style="margin-left: 95%;margin-top: 2%">
                </a>

                <ul class="list-inline two-part align-items-center mb-0" style="margin-top: 5%">

                    <li style="margin-left: 5%; color: rgb(0, 68, 255);">
                        <h5>Q){{ i.q1 }}</h5>
                    </li>



                    <hr style="margin-left: 5%; margin-right: 5%;">
                    <div class="break-all">
                        <p style="margin-left: 5%;margin-top: 1%;margin-right: 5%;text-align: justify;">Ans){{ i.a1 }}
                        </p>
                    </div>


            </div>

        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}

    </div>

</div>

</body>

</html>
{%endblock%}

<style>
    @media screen and (min-width: 360px) and (max-width: 575px) {
        .rr {
            transform: scale(0.9, 0.9);
            margin-left: -60px;
            /* width: 420px; */
        }

        .tite {
            text-align: center !important;
            margin-left: -10vw !important;
        }
    }
</style>
<div class="container carrd">
    <div class="row">
        {% for x in plat %}
        <div class="col text-center">
            <center>
                <h1 class="d-none d-lg-block" style="margin-top: 5%;">{{ x.platformname }} questions for quiz</h1>
            </center>
        </div>
        {% for i in s %}
        {% if i.platform_name == x.platformname %}
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10  col-md-10">
                <div class="card" style="margin-left: 150px;">
                    <div class="card-body">

                        <div class="white-box"
                            style="background: #FFFFFF; width: 100%;border-radius: 2rem;box-shadow: rgb(23 24 25 / 45%) 0px 3px 3px">


                            <!--   <a href="editplatform/" <li style="margin-left: 30%;"><img src="{% static 'plugins/images/Icon material-delete.png' %}" alt="Platforms" width="15px"></li></a> -->
                            <!--  <a href="deleteplatform/{{ x.id }}" <li style="margin-left: 35%;"><img src="{% static 'plugins/images/Icon material-delete.png' %}" alt="Platforms" width="16px"></li></a> -->
                            <a href="{% url 'deletequestion' i.id %}">
                                <img src="{% static 'plugins/images/Icon-material-delete.png' %}" alt="Platforms"
                                    width="16px" style="margin-left: 95%;margin-top: 2%">
                            </a>

                            <ul class="list-inline two-part align-items-center mb-0" style="margin-top: 5%">

                                <li style="margin-left: 5%; color: rgb(0, 68, 255);">
                                    <h5>Q){{ i.question }}</h5>
                                </li>



                                <hr style="margin-left: 5%; margin-right: 5%;">
                                <div class="break-all">
                                    <p style="margin-left: 5%;margin-top: 1%;margin-right: 5%;text-align: justify;">
                                        choices)1){{ i.op1 }} 2) {{ i.op2 }} 3 {{ i.op3 }} 4) {{ i.op4 }} Ans){{ i.ans
                                        }}</p>
                                </div>


                        </div>

                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Column -->{% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

<div class="container carrd1">
    <div class="row">
        {% for x in plat %}
        <div class="col">
            <center>
                <h1 class="head1" style="margin-top: 5%; width: 70vw;">{{ x.platformname }} questions for quiz</h1>
            </center>
        </div>
        {% for i in s %}
        {% if i.platform_name == x.platformname %}
        <div class="row">
            <div class="col-12 mx-4">
                <div class="card" style="width: 95%">
                    <div class="card-body">
                        <div class="white-box"
                            style="background: #FFFFFF; border-radius: 2rem; box-shadow: rgb(23 24 25 / 45%) 0px 3px 3px">


                            <!--   <a href="editplatform/" <li style="margin-left: 30%;"><img src="{% static 'plugins/images/Icon material-delete.png' %}" alt="Platforms" width="15px"></li></a> -->
                            <!--  <a href="deleteplatform/{{ x.id }}" <li style="margin-left: 35%;"><img src="{% static 'plugins/images/Icon material-delete.png' %}" alt="Platforms" width="16px"></li></a> -->
                            <a href="{% url 'deletequestion' i.id %}">
                                <img src="{% static 'plugins/images/Icon-material-delete.png' %}" alt="Platforms"
                                    width="16px" style="margin-left: 95%;margin-top: 2%">
                            </a>

                            <ul class="list-inline two-part align-items-center mb-0" style="margin-top: 5%">

                                <li style="margin-left: 5%; color: rgb(0, 68, 255);">
                                    <h5>Q){{ i.question }}</h5>
                                </li>



                                <hr style="margin-left: 5%; margin-right: 5%;">
                                <div class="break-all">
                                    <p style="margin-left: 5%;margin-top: 1%;margin-right: 5%;text-align: justify;">
                                        choices:<br> 1){{ i.op1 }} <br> 2) {{ i.op2 }} <br> 3) {{ i.op3 }} <br> 4) {{
                                        i.op4 }} <br> Ans){{ i.ans }}</p>
                                </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Column -->{% endfor %}
    </div>

    {% endfor %}
</div>
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/app-style-switcher.js' %}"></script>
<script src="{% static 'plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'js/custom.js' %}"></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="{% static 'plugins/bower_components/chartist/dist/chartist.min.js' %}"></script>
<script
    src="{% static 'plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'js/pages/dashboards/dashboard1.js' %}"></script>

</div>
</div>
</body>

</html>