{% extends 'Administrator/adm_base.html' %} {% load static %} {% block body %}

<head>

    <style>
        .welcome {
            width: 85%;
            background: ghostwhite;
            border-radius: 2rem;
        }
        
        .stretch-card>.card {
            width: 100%;
            min-width: 100%;
        }
        
        .card {
            box-shadow: 0 0 10px 0 rgba(22, 18, 18, 0.384);
            border-radius: 10px;
            height: 25vh
        }
        
        .data-icon-card-primary {
            background: #4d4ba8;
            color: #ffffff;
        }
    </style>
</head>



<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h2 class="page-title">Projects</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row justify-content-center mt-5">
    <div class="col-12 col-sm-6 col-md-4 stretch-card grid-margin ">
        <div class="card data-icon-card-primary  ">
            <a href="{% url 'viewprojectdetail' %} " class="text-decoration-none ">
                <div class="card-body ">

                    <div class="row" style="padding-top:20px;">
                        <div class="col-8 text-white ">
                            <center>
                                <h3>View Projects</h3>
                            </center>
                        </div>
                        <div class="col-4 background-icon ">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 stretch-card grid-margin ">
        <div class="card data-icon-card-primary ">
            <a href="{% url 'addproject' %} " class="text-decoration-none ">
                <div class="card-body ">

                    <div class="row" style="padding-top:20px;">
                        <div class="col-8 text-white ">
                            <center>
                                <h3>Add New Projects</h3>
                            </center>
                        </div>
                        <div class="col-4 background-icon ">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 stretch-card grid-margin ">
        <div class="card data-icon-card-primary ">
            <a href="{% url 'show_inbuiltproject_requests' %} " class="text-decoration-none ">
                <div class="card-body ">

                    <div class="row" style="padding-top:20px;">
                        <div class="col-8 text-white ">
                            <center>
                                <h3>Requested Projects</h3>
                            </center>
                        </div>
                        <div class="col-4 background-icon ">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>



<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %} "></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %} "></script>
<script src="{% static 'js/app-style-cxxswitcher.js' %} "></script>
<script src="{% static 'plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %} "></script>
<!--Wave Effects -->
<script src="{% static 'js/waves.js' %} "></script>
<!--Menu sidebar -->
<script src="{% static 'js/sidebarmenu.js'%} "></script>
<!--Custom JavaScript -->
<script src="{% static 'js/custom.js' %} "></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="{% static 'plugins/bower_components/chartist/dist/chartist.min.js' %} "></script>
<script src="{% static 'plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %} "></script>
<script src="{% static 'js/pages/dashboards/dashboard1.js' %} "></script>

</div>


</body>

</html>
{% endblock %}