{% extends 'Administrator/adminbase.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h4 style=" color: rgb(62, 177, 223);">LECTURES</h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'addlecturepage' %}"><button type="button" class="btn btn-outline-info">Add Lecture</button></a>
        </div>
        <div class="col-md-12 mt-3">
            <div class="table-responsive-md">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>LECTURE ID</th>
                            <th>LECTURE</th>
                            <th>DESCRIPTION</th>
                            <th>COURSE</th>
                            <th>PLATFORM</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in lecture %}
                        <tr>
                            <td>{{ i.lectureid }}</td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.description }}</td>
                            <td>{{ i.courseid.name }}</td>
                            <td>{{ i.courseid.platformid.name }}</td>
                            <td class="d-flex" style="width:200px;">
                                <a href="/editlecture/{{ i.lectureid }}">
                                    <button type="button" class="btn btn-outline-info w-100">Edit</button>
                                </a>
                                <!-- <a href="/deletelecture/{{ i.lectureid }}"> -->
                                <button type="button" value="{{ i.lectureid }}" onclick="confirmdelete(this)" class="btn btn-outline-info w-100 ml-1" data-toggle="modal" data-target="#exampleModal">Delete</button>
                                <!-- </a> -->
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info" id="exampleModalLabel">
                    Project House
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				    <span aria-hidden="true">
						×
					</span>
				</button>
            </div>
            <div class="modal-body">
                <h6 id="modal_body"></h6>
            </div>
            <div class="modal-footer">
                <a id="modelhref" href="">
                    <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#exampleModal" id="submit">
					Delete</button>
                </a>
                <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function confirmdelete(element) {
        var name = "/deletelecture/" + element.value;
        document.getElementById('modelhref').setAttribute('href', name)
        var str = "Are you sure you want to delete this Lecture ? \n"
        $("#modal_body").html(str);
    }
</script>
{% endblock %}