{% extends 'user/userbase.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <center>
                            <h2 style=" color: rgb(62, 177, 223);">{{pl.name}} - {{c.name}}</h2>
                        </center>
                        <hr><br>
                        <div class="row">
                            <div class="col-md-12"><br></div>
                            <div class="col-md-12">
                                <p>{{c.shortdescription}}</p>
                            </div>
                            <div class="col-md-12"><br></div>
                            <div class="col-md-12">
                                <h5 style=" color: rgb(62, 177, 223);">COURSE DESCRIPTION</h5>
                            </div>
                            <div class="col-md-12"><br></div>
                            <div class="col-md-12">
                                <p id="hg" value="{{a}}">{{c.description}}</p>
                            </div>
                            <div class="col-md-12"><br></div>

                            <div class="col-md-12">
                                <h5 style=" color: rgb(62, 177, 223);">MODULES</h5>
                            </div>
                            <div class="col-md-12"><br></div>
                            <div class="col-md-12">
                                <p>{{c.modules }}</p>
                            </div>
                            <div class="col-md-12"><br></div>
                            <div class="col-md-9"></div>
                            <div class="col-md-3 mt-3">
                                <a href="{% url 'tutorials' %}"><button  class="btn btn-info w-100">Start Course</button></a>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}